@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
  font-family: simple-comic;
  src: url("./fonts/simple-comic.otf") format("opentype");
}

@font-face {
  font-family: rogers;
  src: url("./fonts/rogers.otf") format("opentype");
}

.background{
  background-image: url('./assets//superpower_background.jpg');
  height: 100%; 
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  width: 90%;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 1rem;
}

.superhero_container{
  display:flex;
  flex-direction: column;
  padding: 1rem;
  margin-top :1em;
  height: 500px;
  width :75%;
  background-color: rgb(236, 231, 231);
  border: 5px solid #62aafc;
  border-radius: 8px;
  justify-self: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.photo{
  display :block;
}
.superhero_photo{
  margin: 5% auto;
  min-height: 250px;
  max-height: 250px;
  min-width: 275px;
  max-width: 275px;
  /* width: 100%; */
  /* object-fit: cover; */
  border:2px solid #666;
  border-radius:5px;
  box-shadow: 5px 5px 5px #999;
}

.info_division{
  width: 94%;
  display: block;
}
.info_division::-webkit-scrollbar{
  display: none;
}

.info_division--title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_name{
  font-weight: bold;
  font-family: 'rogers';
  font-size :50px;
  letter-spacing :2.2px;
  margin-bottom: 10px;
  text-align: center;
}
.description{
  font-size :24px;
  margin-top: 18px;
  text-align: left;
}

.powers_arrays{
  display :flex;
  flex-wrap: wrap;
  justify-content: center;
}
.power{
  background-color: rgb(247, 79, 49);
  color:white;
  font-size :20px;
  letter-spacing:1px;
  font-weight: bold;
  padding: 6px 10px 10px 10px;
  border-radius :5px;
  margin-right: 25px;
  margin-top :25px;
}

.spinner{
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height :100px;
  width :100px;
  padding-top: 100px;
}


.quotes_complete{
  margin-top: 35px;
  font-family: 'Patrick Hand', cursive;
  font-size :30px;
  font-weight: bolder;
  text-align: left;
}
.Author_name{
  font-size:20px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  color:rgb(99, 92, 92);
}

@media(min-width:1024px){
  .logo{
    width: 45%;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .superhero_container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top :3em;
    /* width :75%; */
    margin-left: auto;
    margin-right: auto;
  }
  .info_division--title{
    flex-direction: row;
  }
  .photo{
    margin-right: 1.5rem;
  }
  .superhero_photo{
    margin: 5px 0 50px 20px;
    width: 100%;
    max-height: 350px;
  }
  .info_division {
      margin-left: 40px;
      margin-right: 10px;
  }
  .powers_arrays{
    justify-content: start;
  }
  .powers_arrays{
    margin-top: 26px;
  }
  .Author_name{
    margin-left: 2rem;
  }
}

@media(max-width:1026px){
  .info_division{
    height: 250px;
    overflow-y: scroll;
  }
  .title_name{
    font-size: 40px;
  }
}

@media(max-width:720px){
  .title_name{
    font-size: 30px;
  }
}

@media(max-width:500px){
  .title_name{
    font-size: 24px;
  }
}
